body{
    background-color:black;
    color: white;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(180, 180, 180);
}
p{
    font-style: italic;
}