body{
    background-color:black;
    color: white;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(180, 180, 180);
}
h1,h3{
    text-align:center;
}
strong{
    color: rgb(211, 161, 95);
}
h4{
    color:rgb(200, 137, 55);
}
p{
    font-style: italic;
}
